.thumbnail {
  width: 400px;
  object-fit: contain;
  object-position: top;
  display: block;
  margin-bottom: 0px;
}

.search {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  width: 500px;
  height: 5;
  text-align: left;
  border-radius: px;
  outline: none;
  display: block;
}
.video-author,
.video-title,
.video-views {
  display: block;
}


.section-1{
  display: block;
  margin-bottom: 10px;
}
.section-2{
  display: inline-block;
  vertical-align: top;
  background-color: cornflowerblue;
}
.section-2 p{
  padding-left: 2px;
}